* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.tableContainer {
  display: flex;
  align-items: flex-start;
  background-color: #131313;
  height: calc(100vh - 66px);
  justify-content: center;
}

.table {
  width: 70%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 24px;
  margin-top: 24px;
}

.thead {
  position: sticky;
  z-index: 100;
}

.trHead {
  background: rgb(245, 245, 245);
}

th {
  padding: 8px;
  color: rgb(33, 33, 33);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}

.trBody {
  background: white;
}

td {
  padding: 8px;
  border: 1px solid rgb(237, 237, 237);
  font-size: 14px;
  background-color: white;
}

/* Formulário */

.form-container {
  display: flex;
  background-color: #262626;
  color: white;
  flex-direction: column;
  padding: 0 24px;
}

.form-car {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.form-car div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-car input {
  margin-top: 4px;
  outline: unset;
  padding: 8px;
  width: 16vw;
  border: 1px solid cornflowerblue;
  border-radius: 8px;
}

.form-car input:focus {
  background-color: rgb(237, 237, 237);
}

.form-car button {
  outline: unset;
  padding: 8px;
  width: 16vw;
  border: none;
  border-radius: 8px;
  background-color: #06b4ff;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.form-car label {
  margin-left: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #262626;
  padding: 16px 32px;
  justify-content: center;
}

.navbar li {
  list-style: none;
  margin-right: 24px;
  font-weight: bold;
  background-color: #06b4ff;
  padding: 8px 16px;
  border-radius: 8px;
}

.navbar a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.tableDiv {
}
